body{
    color: #404040;
    background-color: floralwhite;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("../image/silverware.jpg");
    background-repeat: repeat;
}
a{
    color: #A4A400;
    text-decoration: underline;
}
abbr{
    font-weight: bold;
    text-decoration: underline;
    display: inline;
}
abbr:hover::after {
    position: absolute;
    display: block;
    background: darkgrey;
    content: attr(title);
}
span.deleted{
    text-decoration-line: line-through;
}
span.bold{
    font-weight: bold;
}
h{
}
h1{
    color: #A4A400;
    text-align: center;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 22pt;
    text-decoration: underline;

}
span.title{
    background-color: #F0F0F0;
}

h2{
    color: #A4A400;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;

}
ul{
  list-style-image: url("../image/pie_icon.gif");
}
p{
    font-family: sans-serif;
}
p.copyright{
    font-family: monospace;
}
p.comment{
    background-color: yellow;
}
#article3{

}
#footer {
    text-align: right;
}
